#tableau
{
	width: 70%;
	height: auto;
	border: 10px groove red;
	margin: 0px auto;
	display: table;
}

.ligne, .ligneajt
{
	display: table-row;
}

<<<<<<< HEAD
input
{
	width: 10rem;
}

.cellule, .cellule_image, .autocomplete
=======
.cellule, .cellule_image
>>>>>>> f6409d3859a540f501025bb7adb72fd978508a68
{
	background-color: white;
	border: 1px solid black;
	color: black;
	display: table-cell;
	width: auto;
	height: auto;
	vertical-align: middle;
	text-align: center;
	padding: 10px;
}

.cellule_image
{
	display: flex;
	flex-direction : column;
	justify-content: space-around;
	border:none;
	height: 100px;
}

<<<<<<< HEAD
.autocomplete
{
	position: relative;
}

/* position de la boîte d'autocomplétion, tu peux changer les valeurs si tu veux */
.autocomplete-items
{
	position: absolute;
	border: 1px solid #D4D4D4;
	border-top: none;
	border-bottom: none;
	z-index: 99;
	top: 100%;
	left: 0;
	right: 0;
}

.autocomplete-items div
{
	padding: 10px;
	cursor: pointer;
	background-color: #FFF;
	border-bottom: 1px solid #D4D4D4;
}

.autocomplete-items div:hover
{
	background-color: #E9E9E9;
}

/* Si on utilise les touches fléchées */
.autocomplete-active
{
	background-color: DodgerBlue !important;
	color: #FFFFFF;
}

=======
>>>>>>> f6409d3859a540f501025bb7adb72fd978508a68
.btn
{
	margin: 10px 0 25px 0;
}

body
{
	margin: 0px;
}
footer
{
	background-color: #AFAFAF;
	border-bottom: none;
	border-radius-bottom: 0px;
	border-radius-top: 10px;
	padding: 25px 0 15px 0;
	line-height: 24px;
	width: 100%;
	height: auto;
}

nav
{
	position: absolute;
	width: 75%;
	margin-top-bottom: 20px;
	margin: auto;
	border-radius: 15px;
	background-color: #D9DCE2;
}

.nav-pills
{
	padding: 15px 0 15px 0;
}

.nav-pills li
{
	padding: 0px 10px 0px 10px;
}
 
h1
{
	text-align: center;
	color: blue;
	font-family: "Comic sans Ms";
	font-size: 60px;
	margin-bottom: 10px;
	margin-top: 0px;
}

h2
{
	font-size: 40px;
	font-weight: bold;
	font-family: "Marker Felt",Avantgarde, "TeX Gyre Adventor", "URW Gothic L", sans-serif ;
}
nav div
{
	width: auto;
    display: flex;
   	justify-content: space-around;
}

nav div a
{
	background-color: #8CA5E9;
	color: #113595;
	padding: 10px;
	border-radius: 5px;
	font-weight: bold;
}

section
{
	padding: 5%;
	margin: 3%;
	padding-top: 10px;
	border: 10px double #D24444;
	box-shadow: 20px 20px 5px #A82E2E;
	border-radius: 20px;
}

.Avis
{
	background-color: #E3E3E3;
	margin-left: 15%;
	margin-right: 15%;
	margin-top-bottom: 10px; 
	padding: 10px;
	height: auto;
	border-radius: 10px;
	font-size: 20px;
	height: 290px;
  overflow: auto;
	
}

.Avis img
{
	padding: 30px;
	width: 270px;
	margin: auto;
	vertical-align: middle;
	float: left;
}
.copyright
{
	font-style: italic;
	text-align: center;
	position: center;
	margin: auto;
	color : black;
}

.roundedImage
{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
}
