#tableau
{
	width: 90%;
	height: auto;
	border: 10px groove red;
	margin: 0px auto;
	display: table;
}

.ligne
{
	display: table-row;
}

.cellule
{
	background-color: white;
	border: 1px solid black;
	color: black;
	display: table-cell;
	width: auto;
	height: auto;
	vertical-align: middle;
	text-align: center;
	padding: 10px;
}

.delete_button
{
	width: 2rem;
	height: 2rem;
	
}

footer
{
	display: block;
	position: absolute;
	bottom: 0;
	background-color: #AFAFAF;
	border-bottom: none;
	border-radius-bottom: 0px;
	border-radius-top: 10px;
	padding: 25px 0 15px 0;
	line-height: 24px;
	margin: -10px;
	margin-bottom: 0px;
	width: 100%;
	height: auto;
}

nav
{
	width: 75%;
	margin: 20px 0px 20px 0px;
}

h1
{
	text-align: center;;
	color: blue;
	font-family: "Comic sans Ms";
}

.copyright
{
	color: #434854;
	font-style: italic;
	text-align: center;
	position: center;
	margin: auto;
}
